<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href= "/public/assets/style.css" type="text/css" rel="stylesheet"/>  
</head>

<body>
    <header>
        <h2>Tenant Ledger</h2>
    </header>
    <!-- CREATE OUTPUT TABLE -->
    <table  >
        <thead >
            <tr >
                <% for ( key in data[0] ) { %>
                    <th >
                        <%= key %>
                    </th>
                    <% } %>
            </tr>
        </thead>

        <% data.forEach(function(dc) { %>
            <tr >
                <% for ( key in dc ) { %>
                    <td >
                        <%= dc[key] %>
                    </td>
                    <% } %>
            </tr>
            <% }) %>
    </table>

</body>
</html>