<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <h2>Tenant Ledger</h2>
    </header>
    <!-- CREATE OUTPUT TABLE -->
    <table class="table table-dark table-striped table-bordered table-hover table-sm">
        <thead class="">
            <tr>
                <% for ( key in data[0] ) { %>
                    <th>
                        <%= key %>
                    </th>
                    <% } %>
            </tr>
        </thead>

        <!-- <% data.forEach(function(dc) { %>
            <tr>
                <% for ( key in dc ) { %>
                    <td>                        
                        <%= dc[key] %>
                    </td>
                    <% } %>
            </tr>
            <% }) %> -->
    </table>

</body>

</html>