header {
	text-align: center;
	height: 100px;
	padding-top: 1px;
	background-color: #ffb833;
	color: #0f0f0f;
	font-size: x-large;
}
h3 {
	margin-top: 2px;
	text-align: center;
	background-color: #80bfff;
}
form {
	width: 45%;
	display: inline-block;
	margin: 25px;
}
footer {
	margin-top: 3%;
	text-align: center;
}
